@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

/* Nav Css Starts Here */
/* Nav1 Css Starts Here */
/* .sticky {
    
    color: #091242 !important;
} */
.nav-bar2 {
    position: relative;
}

.nav1 {
    background-color: #091242;
    display: flex;
    justify-content: space-between;
    height: 56px;
    padding: 0px 80px;
    align-items: center;
}

.nav1-1 {
    display: flex;
    gap: 40px;
    align-items: center;

}

.nav1-1-prt1 {
    display: flex;
    gap: 8px;
    align-items: center;


}

.nav1-1-prt2 {
    display: flex;
    gap: 8px;
    align-items: center;


}

.nav1-2 {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav1-2-icn1:hover {
    opacity: 60%;
    cursor: pointer;
}

.nav1-2-icn1 {
    display: flex;
}

.nav1-1-prt1-icn {
    display: flex;
    height: 18px;
    justify-content: center;

}

.nav1-1-prt2-icn {
    display: flex;
    height: 18px;
    justify-content: center;
}

.nav1-1-prt1-txt {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.nav1-1-prt2-txt {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* Nav1 Css Ends Here */


/* Nav2 Css Starts Here */
.nav2 {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    height: 84px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.nav2-1 {
    display: flex;
    gap: 9px;
}

.nav2-1-prt1 {
    padding: 5px 0px 5.95px 11px;
}

.nav2-1-prt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 2.57px 0px 0px;
}

.nav2-1-prt2-txt1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 16px;
    color: #091242;

}

.nav2-1-prt2-txt2 {
    font-family: "Poetsen One", sans-serif;
    font-size: 10px;
    color: #FCA401;

}

.nav2-2 {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav2-btn2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #091242;
}

#nav2-btn1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #091242;
    line-height: 24px;
    padding: 2px 0px;
    border-top: 1px solid #FFB612;
    border-bottom: 1px solid #FFB612;

}

#nav2-2-prt2-1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #666C89;
    line-height: 24px;
    padding: 2px 0px;
    border-top: 1px solid #ffb81200;
    border-bottom: 1px solid #ffb81200;

}


#nav2-btn3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #666C89;
    line-height: 24px;
    padding: 2px 0px;
    border-top: 1px solid #ffb81200;
    border-bottom: 1px solid #ffb81200;

}

.nav2-2-prt1-lnk {
    text-decoration: none;
    color: #666C89;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.nav2-2-prt1-lnk.active,
#nav2-btn1:hover {
    font-size: 16px;
    color: #091242 !important;
    line-height: 24px;
    border-top: 1px solid #FFB612 !important;
    border-bottom: 1px solid #FFB612 !important;
}

#nav2-2-prt2-1:hover {
    color: #091242 !important;
    border-top: 1px solid #FFB612 !important;
    border-bottom: 1px solid #FFB612 !important;
}

#nav2-btn3:hover {
    font-size: 16px;

    color: #091242 !important;
    line-height: 24px;
    border-top: 1px solid #FFB612 !important;
    border-bottom: 1px solid #FFB612 !important;
}

/* Nav-Bar Css Ends Here */



/* Crousal and sec1 Css Starts Here */
.sec1 {
    top: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: -webkit-fill-available;
    height: calc(100vh - 140px) !important;

}

.sec1-1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 58px;
    margin-bottom: 24px;
}

.sec1-2 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
    width: 73%;


}

.sec1-3-btn {
    text-decoration: none;
}

.sec1-3 {
    color: #091242;
    background-color: #FFB612;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    padding: 12px 24px;
    border-radius: 4px;
    width: fit-content;
    height: 54px;
    align-items: center;
    border: 2px solid #ffb81200;
}

.sec1-3:hover {
    cursor: pointer;
    background-color: #ffb81200;
    border: 2px solid #FFB612;
    color: #FFB612;

}

.sec1-4 {
    color: #091242;
    background-color: #FFB612;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    padding: 12px 24px;
    border-radius: 4px;
    width: fit-content;
    height: 54px;
    align-items: center;
    border: 2px solid #ffb81200;
}

.sec1-4:hover {
    cursor: pointer;
    background-color: #ffb81200;
    border: 2px solid #FFB612;
    color: #FFB612;

}

.sec1-prev {
    display: flex;
    flex-direction: column;
}

.sec1-prev1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.sec1-prev2 {
    height: 12px;
    display: flex;
}

.sec1-next {
    display: flex;
    flex-direction: column;
}

.sec1-next1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.sec1-next2 {
    height: 12px;
    display: flex;
    rotate: 180deg;
}

.sec1-img {
    height: calc(100vh - 140px);
    object-fit: cover;
}

.carousel-item {
    height: calc(100vh - 140px);
}

/* Crousal and sec1 Css Ends Here */



/* Sec2 Css Starts Here */
.sec2 {
    padding: 60px 80px;
}

.sec2-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 1038px;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 64px;

}

.sec2-1-prt1 {
    display: flex;
    align-items: center;
    gap: 12px;
}

.sec2-1-prt1-txt {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1%;
    font-family: "Montserrat", sans-serif;
    color: #000024;
}

.sec2-1-prt1-line {
    width: 26px;
    border-bottom: 1px solid #FFB612;
}

.sec2-1-prt2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.sec2-boxes {
    display: flex;
    gap: 39px;

}

.sec2-boxes1 {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.sec2-boxes2 {
    display: none;
    flex-direction: column;
    gap: 39px;
}

.sec2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 34px 24px 34px 61px;
    background-color: #06243803;
    position: relative;
    margin-left: 55px;
    width: -webkit-fill-available;
    gap: 12px;
}

.sec2-2:hover {
    background-color: #FFB612;
    cursor: pointer;
}

.sec2-2:hover .sec2-2-prt3 {
    color: #393B41;
}

.sec2-2-prt1 {
    position: absolute;
    left: -55px;
    width: 94px;
    height: 130px;
    box-shadow: 0px 4px 32px #06243821;
    border-radius: 12px;
}

.sec2-2-prt-img {
    display: none;
}

.sec2-2-prt2 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #091242;
    letter-spacing: 1%;
}

.sec2-2-prt3 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #666C89;
    line-height: 24px;
}

/* Sec2 Css Ends Here */



/* Sec3 Css Starts Here */
.sec3 {
    padding: 100px 80px;
}

.sec3-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sec3-1-prt1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sec3-1-prt1-1 {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 12px;

}

.sec3-1-prt1-line {
    width: 26px;
    border-bottom: 1px solid #FFB612;
}

.sec3-1-prt1-txt1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    color: #091242;
    font-family: "Montserrat", sans-serif;
    width: fit-content;
}

.sec3-1-prt1-txt2 {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1%;
    color: #091242;
    font-family: "Montserrat", sans-serif;

}

.sec3-1-prt1-txt3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #666C89;
    font-family: "Montserrat", sans-serif;

}

.sec3-1-prt2 {
    width: 50%;
    display: flex;
    align-items: center;
}

.sec3-1-prt2-img {
    width: -webkit-fill-available;
}

.sec3-1-prt2-img1 {
    width: -webkit-fill-available;
    display: none;
}

/* Sec3 Css Ends Here */



/* Sec4 Css Starts Here */
.sec4 {
    padding: 60px 80px;
}

.sec4-2 {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.sec4-3 {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

.sec4-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec4-1-prt1 {
    margin-bottom: 12px;
    display: flex;
    gap: 12PX;
    align-items: center;
}

.sec4-1-prt1-txt {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1%;
    color: #000024;
    font-family: "Montserrat", sans-serif;

}

.sec4-1-prt1-line {
    width: 26px;
    border-bottom: 1px solid #FFB612;
}

.sec4-1-prt2 {
    margin-bottom: 24px;
    color: #091242;
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 1%;
    font-family: "Montserrat", sans-serif;

}

.sec4-1-prt3 {
    color: #666C89;
    font-size: 16px;
    font-weight: 400;
    list-style: 24px;
    font-family: "Montserrat", sans-serif;
    text-align: center;

}

.sec4-3-prt1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 192px;
    align-items: center;
    position: relative;
}

.sec4-3-prt2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 192px;
    align-items: center;
    position: relative;
}

.sec4-3-prt3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 192px;
    align-items: center;
    position: relative;

}

.sec4-3-prt4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 192px;
    align-items: center;
    position: relative;

}

.sec4-3-prt1-icn {
    padding: 19px;
    border-radius: 100px;
    background-color: #F8F8F9;
    width: fit-content;
}

.sec4-3-prt1-icn1 {
    stroke: #FFB612;
}

.sec4-3-prt1-icn3 {
    display: none;
}

.sec4-3-prt1-icn:hover .sec4-3-prt1-icn3 {
    display: inline-block;
}


.sec4-3-prt1-txt {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif; 
    text-align: center;
}

.sec4-3-prt1-arrow1 {
    position: absolute;
    top: 23px;
    right: -85px;
}

.sec4-3-prt1-arrow2 {
    position: absolute;
    top: 23px;
    right: -85px;
}

.sec4-3-prt1-arrow4 {
    position: absolute;
    top: 23px;
    left: -90px;
    width: fit-content;
}

/* Sec4 Css Ends Here */



/* Sec5 Css Starts Here */
.sec5 {
    padding: 100px 80px;
    background-color: #F8F8F9;
}

.sec5-1 {
    display: flex;
    box-shadow: 0px 4px 24px 0px rgba(9, 18, 66, 0.16);
    border-radius: 8px;
}

.sec5-1-prt1 {
    max-width: 438px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: #091242;
    padding: 56px 30px;
    border-radius: 8px 0px 0px 8px;
}

.sec5-1-prt1-1 {
    display: flex;
    gap: 20px;
}

.sec5-1-prt1-1-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding: 8px 16px;
    line-height: 32px;
    letter-spacing: 1%;
}

.sec5-1-prt1-1-txt {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sec5-1-prt1-1-txt1 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
    letter-spacing: 1%;
}

.sec5-1-prt1-1-txt2 {
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;
    letter-spacing: 1%;
}

.sec5-1-prt2 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: -webkit-fill-available;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 8px 8px 0px;
}

.sec5-1-prt2-hedng {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1%;
}

.sec5-1-prt2-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sec5-1-prt2-1-prt1 {
    display: flex;
    gap: 16px;
}

.sec5-1-prt2-1-input1 {
    width: 50%;
    position: relative;
}

.sec5-1-prt2-1-input2 {
    width: 50%;
}

.sec5-1-prt2-1-input1-1 {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    height: 60px;
    padding: 12px 18px;
    border: 1px solid #D6D6DC;
    background-color: #F8F8F9;
    border-radius: 8px;
    color: #666C89;
    position: relative;
}


.sec5-1-prt2-1-input1-1-opt {
    position: absolute;
    top: 68px;
    left: 88px;
    right: 44px;
    padding: 18px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(102, 108, 137, 1);
    background-color: rgba(248, 248, 249, 1);
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);

}

#sec5-1-prt2-1-input1-1-opt-1 {
    display: none;
}

#sec5-1-prt2-1-input1-1-opt-2 {
    display: flex;
}

.focus-ouline:hover {
    border-radius: 6px;
    outline: none;
    border: 1px solid #666C89 !important;
}

.hover-outline:hover {
    border: 1px solid #666C89 !important;
}

.sec5-1-prt2-1-input1-1-opt1 {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    color: rgba(9, 18, 66, 1);
    cursor: pointer;
}

.sec5-1-prt2-1-input1-1-opt1:hover {
    color: #FFB612;
}

.sec5-1-prt2-1-input1-1::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666C89;
    line-height: 24px;
    opacity: 1;
}

.sec5-1-prt2-1-input1-1:hover::placeholder {
    color: rgba(102, 108, 137, 1);
}

.sec5-1-prt2-1-input1-1:focus::placeholder {
    color: rgba(214, 214, 220, 1);
}

.sec5-1-prt2-1-input1-1:hover {
    cursor: pointer;
    outline: unset;
    border: 1px solid rgba(102, 108, 137, 1);
}

.sec5-1-prt2-1-input1-1:focus {
    outline: unset;

}


.sec5-1-prt2-1-input2 {
    position: relative;
}

/* .sec5-1-prt2-1-input1-downarrow{
    position: absolute;
    top: 18px;
    right: 12px;
} */
.sec5-1-prt2-1-input1-1-pading {
    justify-content: space-between;
}

#sec5-1-prt2-1-input1-1-pading-2 {
    display: none;
}


.sec5-1-prt2-1-prt2 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.sec5-1-prt2-1-prt3 {
    display: flex;
    align-items: center;
}

.sec5-1-prt2-1-prt4 {
    display: flex;
    align-items: center;
}

.sec5-1-prt2-1-prt5 {
    display: flex;
    align-items: center;
}

.sec5-1-prt2-1-prt2-txt {
    font-size: 16px;
    font-weight: 400;
    color: #666C89;
    line-height: 24px;
    letter-spacing: 1%;
    font-family: "Montserrat", sans-serif;
}

.sec5-1-prt2-1-prt2-txt1 {
    width: 102px;
}

.sec5-1-prt2-1-prt2-txt3 {
    width: 102px;
}

.sec5-1-prt2-1-prt2-txt2 {
    width: 145px;
}

.sec5-1-prt2-1-prt2-txt4 {
    width: 145px;
}

.sec5-1-prt2-1-prt2-uplodfile {
    width: 109px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    color: #666C89;
    padding: 8px;
    border-radius: 8px;
    background-color: #F8F8F9;
    border: 1px solid #D6D6DC;
    font-family: "Montserrat", sans-serif;
}

.sec5-1-prt2-1-prt2-uplodfile:hover {
    border: 1px solid rgba(102, 108, 137, 1);
    color: rgba(102, 108, 137, 1);
    cursor: pointer;
}

.sec5-1-prt2-1-prt2-1 {
    display: flex;
    gap: 67px;
}

.sec5-1-prt2-1-prt2-1-msginput {
    background-color: #F8F8F9;
    border: 1px solid #D6D6DC;
    padding: 18px 12px;
    width: -webkit-fill-available;
    outline: unset;
    border-radius: 8px;
    height: 92px;
    color: rgba(9, 18, 66, 1);
}

.sec5-1-prt2-1-prt2-1-msginput::placeholder {
    color: #666C89;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1%;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;

}

.sec5-1-prt2-1-prt2-1-msginput:hover::placeholder {
    color: rgba(102, 108, 137, 1);
}

.sec5-1-prt2-1-prt2-1-msginput:focus::placeholder {
    color: rgba(214, 214, 220, 1);
}

.sec5-1-prt2-1-prt2-1-msginput:hover {
    cursor: pointer;
    outline: unset;
    border: 1px solid rgba(102, 108, 137, 1);
}

.sec5-1-prt2-1-prt2-1-msginput:focus {
    outline: unset;

}

/* .sec5-1-prt2-1-input1{
    display: none;
} */
/* sec5 Css Ends Here */



/* sec6 Css Starts Here */
.sec6 {
    padding: 80px;
}

.sec6-1 {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.sec6-1-txt {
    font-size: 14px;
    font-weight: 500;
    color: #091242;
    font-family: "Montserrat", sans-serif;

}

.sec6-1-line {
    width: 26px;
    border-bottom: 1px solid #FFB612;
}

.sec6-2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 110%;
    text-align: center;
    margin-bottom: 80px;
    font-family: "Montserrat", sans-serif;

}

.accordion-item {
    border-radius: 10px;
    margin-bottom: 24px;
    border: 0px solid black !important;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);


}

.sec1-item1 {
    margin-bottom: unset;
}

.accordion-button {
    font-size: 20px !important;
    font-weight: 600;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
    padding: 32px 33px !important;
    background-color: unset;
    outline: unset !important;
    border-radius: 10px !important;
    color: #091242 !important;
    gap: 10px;

}

.accordion-body {
    border-width: 0px 1px 1px 1px;
    border-color: #FFB612;
    border-style: solid;
    border-radius: 0px 0px 10px 10px !important;
    padding: 0px 32px 32px 32px !important;
    margin-top: -8px;
    font-size: 18px;
    font-weight: 400;
    color: #091242;
    font-family: "Montserrat", sans-serif;
    line-height: 160%;
}

.accordion-header {
    position: relative;
}

.hdr-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    width: fit-content;
    display: flex;
    width: fit-content;
    height: fit-content;

}


/* Sec6 Css Ends Here */



/* Sec7 Css Starts Here */

.Sec7-1 {
    font-size: 32px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
    letter-spacing: 1%;
    color: white;
}


.Sec7-2 {
    color: #091242;
    background-color: #FFB612;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 800;
    display: flex;
    padding: 15px 30px;
    border-radius: 4px;
    width: fit-content;
    border: 2px solid #ffb81200;
}

.Sec7-2:hover {
    color: #FFB612;
    background-color: #ffb81200;
    border: 2px solid #FFB612;
    cursor: pointer;
}

.Sec7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-color: #091242;
    margin-bottom: 94px;
    height: 242px;
    align-items: center;
}

/* Sec7 Css Ends Here */



/* Sec8 Css Starts Here */
.sec8 {
    padding: 80px 100px;
    background: url('images/footer-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sec8-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec8-1-prt2 {
    display: flex;
    gap: 28px;
}

.sec8-1-prt2-txt1 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    letter-spacing: 0px;
}

.sec8-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 32px 0px;
}

.sec8-2-prt1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.sec8-2-prt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 235px;
}

.sec8-2-prt3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: fit-content;
}

.sec8-2-prt1-hd {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    margin-bottom: 24px;
    width: -webkit-fill-available;
    text-align: center;
}

.sec8-2-prt1-txt1 {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 12px;
}

.sec8-2-prt1-txt1-1 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: white;
}

.sec8-2-prt1-txt1-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.70);
}

.sec8-2-prt1-txt2 {
    display: flex;
    gap: 6px;
    align-items: center;
}

.sec8-2-prt1-txt2-1 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: white;
}

.sec8-2-prt1-txt2-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.70);
}

.sec8-2-prt2-txt1 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.sec8-2-prt3-txt1 {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
}

.sec8-2-prt3-txt1-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: 400;
    line-height: 24px;
    color: white;
}







.sec8-4 {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 32px 0px;
}


.sec8-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec8-3-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white;
}

.sec8-3-1-txt1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: 500;
    line-height: 22px;
    color: white;

}

.sec8-3-1-txt1-1 {
    text-decoration: none;
}

.sec8-3-1-txt1:hover {
    text-decoration: underline;
}

.sec8-3-3 {
    width: 353px;
}

.sec8-1-prt2-txt1:hover {
    text-decoration: underline;

}

.sec8-3-2 {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;
    width: 253px;
}

/* Sec8 Css Ends Here */

/* Sec9 Css Starts Here */
.Sec9 {
    padding: 120px 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1034px;
    justify-content: center;
}

.Sec9-1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1%;
    margin-bottom: 32px;
    font-family: "Montserrat", sans-serif;
    color: #666C89;
}

.Sec9-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Sec9-2-prt1-1 {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1%;
    color: #091242;
}

.Sec9-2-prt2-2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1%;
    color: #666C89;
}

/* Sec9 Css Ends Here */



/* Sec10 Css Starts Here */
.sec10 {
    width: 100%;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px;
    font-weight: 700;
    line-height: 72px;
    background: url('images/terms\ and\ conditions.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Montserrat", sans-serif;

}

.backhome1 {
    font-size: 16px;
    font-weight: 18px;
    line-height: 24px;
    color: #666C89;
}

.backhome {
    text-decoration: none;
}

/* Sec10 Css Ends Here */

.sec11 {
    background-image: url('images/privacy\ policy.png');
}

.privacy-p1 {
    margin-bottom: 8px;
}

.privacy-p3 {
    margin-bottom: 20px;
}

.privacy-p2 {
    line-height: 30px;
}

@media screen and (min-width:1400px) {

    /* Nav css Starts Here */
    .nav1 {
        padding: 0px 100px;
    }

    .nav2 {
        padding: 0px 100px;
    }

    .nav1-1-prt2-txt {
        font-size: 16px;
    }

    #nav2-btn1 {
        font-size: 18px;
    }

    #nav2-btn1:hover {
        font-size: 18px;
    }

    #nav2-2-prt2-1 {
        font-size: 18px;

    }

    #nav2-btn3 {
        font-size: 18px;

    }

    /* Nav css Ends Here */


    /* sec1 css Starts Here */
    .sec1-1 {
        font-size: 64px;
        line-height: 72px;
    }

    .sec1-2 {
        font-size: 24px;
        line-height: 31px;
    }

    .sec1-3 {
        font-size: 24px;
    }

    /* sec1 css Ends Here */



    /* sec2 css Starts Here */
    .sec2 {
        padding: 60px 100px;
    }

    .sec2-1-prt1-txt {
        font-size: 16px;
    }

    .sec2-1-prt2 {
        font-size: 52px;
    }

    .sec2-2-prt2 {
        font-size: 20px;
    }

    .sec2-2-prt3 {
        font-size: 16px;
    }

    /* sec2 css Ends Here */



    /* sec3 css Starts Here */
    .sec3 {
        padding: 100px;
    }

    .sec3-1-prt1-txt1 {
        font-size: 16px;
    }

    .sec3-1-prt1-txt2 {
        font-size: 52px;
    }

    .sec3-1-prt1-txt3 {
        font-size: 18px;
    }

    .sec3-1-prt2-img {
        display: block;
    }

    /* sec3 css Ends Here */


    /* sec4 css starts Here */
    .sec4 {
        padding: 100px 160px;
    }

    .sec4-1-prt1-txt {
        font-size: 16px;
    }

    .sec4-1-prt2 {
        font-size: 52px;
    }

    .sec4-1-prt3 {
        font-size: 18px;
    }

    .sec4-3-prt1-txt {
        font-size: 24px;
    }

    .sec4-3-prt4 {
        width: 255px;
    }

    .sec4-3-prt3 {
        width: 255px;
    }

    .sec4-3-prt2 {
        width: 255px;
    }

    .sec4-3-prt1 {
        width: 255px;
    }

    .sec4-3-prt1-arrow1 {
        right: -60px;
    }

    .sec4-3-prt1-arrow2 {
        right: -60px;
    }

    .sec4-3-prt1-arrow4 {
        left: -60px;
    }

    .sec4-3 {
        width: 1120px;
        max-width: unset;
    }

    /* sec4 css Ends Here */



    /* sec5 css Starts Here */
    .sec5 {
        padding: 100px;
    }

    .sec5-1-prt1-1-txt1 {
        font-size: 24px;
    }

    .sec5-1-prt1-1-txt2 {
        font-size: 15px;
    }

    .sec5-1-prt1 {
        max-width: 483px;
    }

    /* sec5 css Ends Here */



    /* sec6 css Starts Here */
    .sec6-1-txt {
        font-size: 16px;
    }

    .accordion-button {
        font-size: 24px;
    }

    /* sec6 css Ends Here */



    /* Sec9 Css Starts Here */
    .Sec9 {
        padding: 120px 203px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: unset;
        width: 100%;
        max-width: unset;

    }

    .Sec9-1 {
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 1%;
        margin-bottom: 32px;
        font-family: "Montserrat", sans-serif;
        color: #666C89;
    }

    .Sec9-2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .Sec9-2-prt1-1 {
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1%;
        color: #091242;
    }

    .Sec9-2-prt2-2 {
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1%;
        color: #666C89;
    }

    /* Sec9 Css Ends Here */
    .sec10 {
        font-size: 64px;
    }

    .backhome1 {
        font-size: 18px;

    }

    .privacy-p2 {
        line-height: 40px;
    }

    .accordion-button::after {
        width: 24px !important;
        height: 24px !important;

    }
}

@media screen and (max-width:1200px) {



    /* Nav css Ends Here */
    .nav1 {
        padding: 0px 32px;
    }

    .nav2 {
        padding: 0px 32px;
    }

    .nav1-1-prt2-txt {
        font-size: 12px;
    }

    #nav2-btn1 {
        font-size: 14px;
    }

    #nav2-btn1:hover {
        font-size: 14px;
    }

    #nav2-2-prt2-1:hover {
        font-size: 14px;
    }

    #nav2-btn3:hover {
        font-size: 14px;
    }

    #nav2-2-prt2-1 {
        font-size: 14px;
    }

    #nav2-btn3 {
        font-size: 14px;
    }

    /* Nav css Ends Here */



    /* sec1 css Starts Here */
    .sec1-1 {
        font-size: 48px;
        line-height: 44px;
    }

    .sec1-2 {
        font-size: 18px;
        line-height: 24px;
    }

    .sec1-3 {
        font-size: 18px;
    }

    /* sec1 css Ends Here */



    /* sec2 css Starts Here */

    .sec2 {
        padding: 60px 32px;
    }

    .sec2-1-prt1-txt {
        font-size: 14px;
    }

    .sec2-1-prt2 {
        font-size: 40px;
    }

    /* sec2 css Ends Here */



    /* sec3 css Starts Here */
    .sec3 {
        padding: 32px;
    }

    .sec3-1-prt1-txt2 {
        font-size: 40px;
    }

    .sec3-1-prt2-img {
        display: block;
    }

    /* sec3 css Ends Here */



    /* sec4 css starts Here */
    .sec4 {
        padding: 100px 32px;
    }

    .sec4-1-prt2 {
        font-size: 40px;
    }

    .sec4-1-prt3 {
        font-size: 14px;
    }

    .sec4-3-prt1-txt {
        font-size: 18px;
    }

    /* sec4 css Ends Here */



    /* sec6 css Starts Here */
    .sec6-2 {
        font-size: 40px;
        margin-bottom: 60px;

    }

    .sec6 {
        padding: 80px 32px;
    }

    .accordion-button {
        font-size: 18px !important;
    }

    /* sec6 css ends Here */



    /* sec7 css ends Here */
    .Sec7 {
        padding: 80px 32px;
    }

    /* sec7 css ends Here */



    /* sec8 css ends Here */
    .sec8 {
        padding: 80px 32px;
    }

    /* sec8 css ends Here */



}

@media screen and (max-width:1273px) {

    /* .sec5-1-prt2-1-prt2{
        justify-content: unset;
        width: fit-content;
    } */
    .sec5-1-prt2-1-prt2-1 {
        justify-content: space-between;
    }
}

@media screen and (max-width:1230px) {



    /* sec5 css Starts Here */
    .sec5 {
        padding: 40px 32px;
    }

    .sec5-1 {
        flex-direction: column;
    }

    .sec5-1-prt1 {
        width: -webkit-fill-available;
        max-width: unset;
        border-radius: 8px 8px 0px 0px;
    }

    .sec5-1-prt2 {
        width: -webkit-fill-available;
        border-radius: 0px 0px 8px 8px;
    }

    .sec5-1-prt2-1-prt2 {
        justify-content: unset;
        width: fit-content;
    }

    .sec5-1-prt2-1-prt2-1 {
        justify-content: unset;
    }

    .sec5-1-prt2-1-prt2 {
        justify-content: space-between;
        width: -webkit-fill-available;
    }

    /* sec5 css Ends Here */




}

@media screen and (max-width:1100px) {
    .sec3-1-prt1-txt3 {
        font-size: 14px;
    }

    .sec2-boxes1 {
        display: none;
    }

    .sec2-boxes2 {
        display: flex;
    }

    .sec3-1-prt1-1 {
        justify-content: center;
    }

    .sec3-1-prt1-txt2 {
        text-align: center;
    }

    .sec3-1-prt1-txt3 {
        text-align: center;
    }

    .sec3-1 {
        flex-direction: column;
    }

    .sec3-1-prt1 {
        width: unset;
    }

    .sec3-1-prt2 {
        width: 600px;
        margin: auto;

    }

    .sec5-1-prt2-1-prt2-1 {
        gap: 40px;
    }
}

@media screen and (max-width:1000px) {
    .sec10 {
        font-size: 50px;
    }

    .sec4-3-prt1-icn3 {
        display: none;
    }

}

@media screen and (max-width:1070px) {
    .sec3-1-prt1-txt2 {
        font-size: 37px;
    }

    .sec4-1-prt2 {
        font-size: 37px;
    }

    .sec6-2 {
        font-size: 37px;
    }

    .sec8-4-5 {
        display: none;
    }

    .sec8-4 {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .sec8-4-3 {
        font-size: 14px;
    }

    .sec8-4-prt1-hd {
        margin-bottom: 8px;
    }

    .sec8-4-prt1-txt1-1 {
        font-size: 16px;
    }

    .sec8-4-4 {
        flex-direction: column;
        gap: 12px;
        justify-content: unset;
        width: 235px;
    }

    .sec8-4-1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .sec8-4-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        align-items: center;

    }

    .sec8-2 {
        display: none;
    }

    .sec2-1-prt2 {
        font-size: 37px;
    }

    .sec4-3 {
        width: 900px;
    }

    .sec4-3-prt1-arrow1 {
        right: -69px;
    }

    .sec4-3-prt1-arrow2 {
        right: -69px;
    }

    .sec4-3-prt1-arrow4 {
        left: -73px;
    }
}

@media screen and (max-width:969px) {
    .sec4-3 {
        width: 800px;
    }

    .sec4-3-prt1-arrow1 {
        right: -55px;
    }

    .sec4-3-prt1-arrow2 {
        right: -55px;
    }

    .sec4-3-prt1-arrow4 {
        left: -55px;
    }
}

@media screen and (max-width:870px) {
    .Sec7-2 {
        padding: 12px 20px;
        font-size: 20px;
        line-height: 32px;
    }

    .Sec7 {
        gap: 30px;
    }

    .sec4-3 {
        width: 800px;
    }

    .sec4-3-prt1-arrow1 {
        right: -55px;
    }

    .sec4-3-prt1-arrow2 {
        right: -55px;
    }

    .sec4-3-prt1-arrow4 {
        left: -55px;
    }

    .sec4-3-prt1-icn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        padding: unset;
    }

    .sec4-3-prt1-icn1 {
        width: 18px;
        height: 18px;
    }

    .sec4-3-prt1-icn2 {
        width: 18px;
        height: 18px;
    }

    .sec4-3-prt1-icn3 {
        width: 18px;
        height: 18px;
    }

    .sec4-3-prt1-arrow1 {
        top: 11px;
        right: -40px;
        width: 78px;
    }

    .sec4-3-prt1-arrow2 {
        top: 11px;
        right: -40px;
        width: 78px;

    }

    .sec4-3-prt1-arrow4 {
        top: 11px;
        left: -40px;
        width: 78px;

    }

    .sec4-3-prt1-txt {
        font-size: 14px;
    }

    .sec4-3-prt1 {
        width: 149px;
    }

    .sec4-3-prt2 {
        width: 149px;
    }

    .sec4-3-prt3 {
        width: 149px;
    }

    .sec4-3-prt4 {
        width: 149px;
    }

    .sec4-3 {
        width: 600px;
    }

    .sec4-3-prt1-arrow-wdth {
        width: 78px;
    }
}

@media screen and (max-width:744px) {
    .sec5-1-prt2-1-prt2-1 {
        gap: 20px;
    }

    .nav1-4-icn1 {
        width: 18px;
        height: 18px;
    }

    .sec8-3-2 {
        gap: 20px;
        width: fit-content;
    }

    .sec1-img {
        height: calc(100vh - 121px);
        object-fit: cover;
    }

    .sec1 {
        height: calc(100vh - 121px) !important;
    }

    .carousel-item {
        height: calc(100vh - 121px);
    }

    .accordion-button {
        padding: 24px 26px;
    }

    .Sec7-2 {
        padding: 8px 16px;
        font-size: 16px;
    }

    .Sec7-1 {
        font-size: 32px;
        text-align: center;
    }

    .Sec7 {
        flex-direction: column;
        height: fit-content;
    }

    .nav1-1-prt1-txt {
        font-size: 12px;
    }

    .nav1-1-prt1-icn1 {
        width: 16px;
        height: 16px;
    }

    .nav1-1-prt1 {
        gap: 6px;
    }

    .nav1-1-prt2 {
        gap: 6px;
    }

    .nav1-2 {
        gap: 16px;
    }

    .nav1-2-icn2 {
        width: 20px;
        height: 20px;
    }

    .nav2-2 {
        gap: 20px;
    }

    .nav2 {
        height: 65px;
    }


    .sec2-1-prt2 {
        font-size: 32px;
    }

    .sec1-1 {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .sec1-2 {
        font-size: 14px;
        margin-bottom: 16px;

    }

    .sec1-3 {
        padding: 10px 16px;
        font-size: 16px;
        height: fit-content;
    }

    .sec2-boxes {}

    .sec2-2 {
        padding: 61px 24px 34px 24px;
        margin-top: 55px;
        justify-content: start;
        align-items: center;
        margin-left: unset;
    }

    .sec2-2-prt3 {
        text-align: center;
    }

    .sec2-2-prt1 {
        display: none;
    }

    .sec2-2-prt2 {
        text-align: center;
    }

    .sec2-2-prt-img {
        display: block;
        position: absolute;
        top: -55px;
        height: 94px;
        width: 130px;
        box-shadow: 0px 4px 32px #06243821;
        border-radius: 12px;
        object-fit: cover;
    }

    .accordion-body {
        font-size: 14px;
    }

    .accordion-button {
        font-size: 16px !important;

    }

    /* .nav1{
            padding: 0px 16px;
        }
        .nav2{
            padding: 0px 16px;

        } */
    .sec2 {
        padding: 45px 32px;

    }

    .sec4 {
        padding: 45px 32px;

    }

    .sec1-prev1 {
        font-size: 12px;
        line-height: normal;

    }

    .sec1-next1 {
        font-size: 12px;
        line-height: normal;
    }

    .sec1-arrow {
        width: 25px;
    }

    .sec6 {
        padding: 45px 32px;
    }

    .Sec7 {
        padding: 45px 32px;
        margin-bottom: 45px;

    }

    /* Sec9 Css Starts Here */
    .Sec9 {
        padding: 40px 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: unset;
        width: 100%;
    }

    .Sec9-1 {
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 1%;
        margin-bottom: 32px;
        font-family: "Montserrat", sans-serif;
        color: #666C89;
    }

    .Sec9-2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .Sec9-2-prt1-1 {
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1%;
        color: #091242;
    }

    .Sec9-2-prt2-2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1%;
        color: #666C89;
    }

    .sec10 {
        font-size: 36px;
        height: 293px;
    }

    .backhome1 {
        font-size: 14px;

    }

    /* Sec9 Css Ends Here */
    .privacy-p3 {
        margin-bottom: 17px;
    }
}

@media screen and (max-width:712px) {
    .sec5-1-prt2-1-prt2-1 {
        flex-direction: column;
    }

    .sec5-1-prt2-1-prt2-1 {
        gap: 16px;
    }

    .sec5-1-prt2-1-prt2-txt {
        width: fit-content;
    }

}

@media screen and (max-width:658px) {
    .accordion-button:not(.collapsed)::after {
        background: url('images/faqline.png') !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        width: 9.33px !important;
        height: 1.33px !important;
    }

    .sec3-1-prt2 {
        width: 100%;
    }

    .sec4-3 {
        width: 800px;
    }

    .sec4-3-prt1-arrow1 {
        right: -55px;
    }

    .sec4-3-prt1-arrow2 {
        right: -55px;
    }

    .sec4-3-prt1-arrow4 {
        left: -55px;
    }

    .sec4-3-prt1-icn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: unset;
    }

    .sec4-3-prt1-icn1 {
        width: 13px;
        height: 13px;
    }

    .sec4-3-prt1-icn2 {
        width: 13px;
        height: 13px;
    }

    .sec4-3-prt1-icn3 {
        width: 13px;
        height: 13px;
    }

    .sec4-3-prt1-arrow1 {
        top: 4px;
        right: -39px;
        width: fit-content;

    }

    .sec4-3-prt1-arrow2 {
        top: 4px;
        right: -39px;
        width: fit-content;

    }

    .sec4-3-prt1-arrow4 {
        top: 4px;
        left: -39px;
        width: fit-content;

    }

    .sec4-3-prt1-txt {
        font-size: 10px;
    }

    .sec4-3-prt1 {
        width: 95px;
    }

    .sec4-3-prt2 {
        width: 95px;
    }

    .sec4-3-prt3 {
        width: 95px;
    }

    .sec4-3-prt4 {
        width: 95px;
    }

    .sec4-3 {
        width: 474px;
    }

    .sec4-3-prt1-arrow-wdth {
        width: 50px;

    }

    .sec4-1-prt1-txt {
        font-size: 14px;
    }

    .sec4-1-prt3 {
        font-size: 14px;
    }

    .sec4-1-prt1 {
        margin-bottom: 8px;
    }

    .sec4-1-prt2 {
        margin-bottom: 8px;
        font-size: 32px;
    }

    .sec4-2 {
        gap: 24px;
    }

    .sec3-1-prt1-txt2 {
        font-size: 32px;
    }

    .sec2-1-prt2 {
        font-size: 32px;
    }

    .sec2 {
        padding: 24px 16px;
    }

    .sec2-boxes {
        gap: 16px;
    }

    .sec2-boxes2 {
        gap: 16px;
    }

    .sec5-1-prt1 {
        padding: 16px;
    }

    .sec5-1-prt1-1 {
        gap: 14px;
    }

    .sec5-1-prt1-1-txt {
        gap: 0px;
    }

    .sec5-1-prt1 {
        gap: 16px;
    }

    .sec5-1-prt2 {
        padding: 16px;
    }

    .sec5-1-prt2-hedng {
        font-size: 24px;
    }

    .sec5-1-prt2-1-input1-1 {
        padding: 10px 12px;
    }

    .sec5-1-prt2-1-prt1 {
        gap: 12px;
    }

    .sec5-1-prt2-1 {
        gap: 12px;
    }

    .sec5 {
        padding: 16px;
    }

    .sec6-1-txt {
        font-size: 12px;
    }

    .sec6-2 {
        font-size: 24px;
    }



    .accordion-body {
        padding: 0px 16px 16px 16px !important;
    }


}

@media screen and (max-width:620px) {
    .Sec9 {
        padding: 40px;
    }

    .sec4-1-prt2 {
        font-size: 24px;
        line-height: normal;
    }

    .sec8-2-prt1-txt1 {
        flex-direction: column;
        width: 100%;
        align-items: start;
    }

    .sec8-2-prt1-txt2 {
        flex-direction: column;
        width: 100%;
        align-items: start;
    }

    .sec8-2-prt1-hd {
        text-align: start;
        font-size: 24px;
    }

    .sec8-4-4 {
        align-items: start;
    }

    .sec8-4-1 {
        align-items: start;
    }

    .sec8-4-2 {
        align-items: start;
    }

    .sec8-4-prt1-txt1-1 {
        font-size: 15px;
        line-height: normal;
    }

    .sec8-2-prt2-txt1 {
        line-height: normal;
        font-size: 15px;
        text-align: start;
    }

    .sec8-2-prt3-txt1-2 {
        line-height: normal;
        font-size: 15px;
    }

    .sec8-2-prt3-txt1-1-icn {
        width: 17px;
        height: 18px;
    }

    .sec8-2-prt3-txt1 {
        gap: 4px;

    }

    .sec8-2-prt3-txt1-1 {
        display: flex;
    }

    .sec8-2-prt3-txt1-2 {
        line-height: normal;
        font-size: 15px;
    }

    .sec8-3-1-txt1 {
        line-height: normal;
        font-size: 15px;
    }

    .sec8-1-prt2-txt1 {
        line-height: 24px;
        font-size: 15px;
    }

    .sec8-2-prt2 {
        width: 183px;
    }

    .sec8-4-4 {
        width: 183px;
    }

    .Sec7-1 {
        font-size: 28px;
    }

    .sec2-1-prt2 {
        font-size: 24px;
    }

    .sec2-1 {
        margin-bottom: 44px;
    }

    .sec3-1-prt1-txt2 {
        font-size: 24px;
    }

    .privacy-p3 {
        margin-bottom: 3px;
    }
}

/* @media screen and (max-width:550px) {
    .nav1{
        padding: 22px;
    }
    .nav2{
        padding: 0px 22px;
    }
    .sec1-1{

    }
    .sec1-2{
        line-height: 22px;
    }
} */
@media screen and (max-width:500px) {
    .sec7-2 {
        padding: 6px 12px !important;
        font-size: 16px;
    }

    .logo2 {
        width: 130px;
    }

    .sec8 {
        padding: 24px 16px;
    }

    .Sec7-1 {
        font-size: 24px !important;
    }

    .Sec7 {
        padding: 20px 16px;
    }

    .nav1 {
        padding: 0px 16px;
    }

    .nav2 {
        padding: 0px 16px;
    }

    .sec1-1 {
        font-size: 24px;
        line-height: normal;
        margin-bottom: 8px;
    }

    .sec1-2 {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .sec1-3 {
        padding: 8px 12px;
        font-size: 14px;
        line-height: 24px;
    }

    .sec2-1-prt1-txt {
        font-size: 12px;
        line-height: normal;
    }

    .sec2-1-prt2 {
        font-size: 24px;
        line-height: normal;
    }

    .sec2-1 {
        margin-bottom: 31px;
    }

    .sec3-1-prt1-txt1 {
        font-size: 12px;
        line-height: normal;
    }

    .sec3-1-prt1-txt3 {
        line-height: 24px;
    }

    .sec4-1-prt2 {
        text-align: center;
        list-style: 24px;
    }

    .sec4-1-prt3 {
        font-size: 12px;
        line-height: normal;

    }

    .sec4-1-prt1-txt {
        font-size: 12px;
        line-height: normal;
    }

    .sec6 {
        padding: 24px 16px;
    }

    .sec3 {
        padding: 24px 16px;
    }

    .sec6-2 {
        margin-bottom: 24px;
    }

    .nav1-1 {
        gap: 30px;
    }

    .sec5-input1 {
        flex-direction: column;
    }

    .sec5-1-prt2-1-input1 {
        width: -webkit-fill-available;
    }

    .sec5-1-prt2-1-input2 {
        width: -webkit-fill-available;
    }

    .sec5-1-prt2-1-prt2 {
        flex-direction: column;
        gap: 8px;
        align-items: start;
        width: 109px;

    }

    .sec5-1-prt2-1-prt2-1 {
        flex-direction: row;
        justify-content: space-between;
    }

    .sec5-1-prt2-1-prt2-txt {
        font-size: 13px;
    }

    .sec5-1-prt2-1-prt2-uplodfile {
        font-size: 13px;
        padding: 3px 4px;
        width: fit-content;
    }

    .sec5-1-prt2-1-input1-1-opt1 {
        font-size: 14px;
    }

    .sec4 {
        padding: 24px 16px;
    }
}

@media screen and (max-width:550px) {
    .sec8-2-prt1-txt1 {
        flex-direction: column;
        width: 100%;
        align-items: start;
    }

    .sec8-2-prt1-txt2 {
        flex-direction: column;
        width: 100%;
        align-items: start;
    }

    .sec8-2-prt1-hd {
        text-align: start;
        font-size: 20px;
    }

    .sec8-4-4 {
        align-items: start;
    }

    .sec8-4-1 {
        align-items: start;
    }

    .sec8-4-2 {
        align-items: start;
    }

    .sec8-4-prt1-txt1-1 {
        font-size: 14px;
        line-height: normal;
    }

    .sec8-2-prt2-txt1 {
        line-height: normal;
        font-size: 14px;
        text-align: start;
    }

    .sec8-2-prt3-txt1-2 {
        line-height: normal;
        font-size: 14px;
    }

    .sec8-2-prt3-txt1-1-icn {
        width: 16px;
        height: 17px;
    }

    .sec8-2-prt3-txt1-2 {
        line-height: normal;
        font-size: 14px;
    }

    .sec8-3-1-txt1 {
        line-height: normal;
        font-size: 14px;
    }

    .sec8-1-prt2-txt1 {
        line-height: 24px;
        font-size: 14px;
    }

    .sec8-2-prt2 {
        width: 157px;
    }

    .sec8-4-4 {
        width: 157px;
    }

    .Sec7-1 {
        font-size: 28px;
    }

    .sec8-4-prt1-hd {
        margin-bottom: 16px;
    }
}

@media screen and (max-width:540px) {
    .sec4-3 {
        width: 400px;
    }

    .sec4-3-prt1-arrow1 {
        top: 6px;
        right: -22px;
    }

    .sec4-3-prt1-arrow2 {
        top: 6px;
        right: -22px;
    }

    .sec4-3-prt1-arrow4 {
        top: 6px;
        left: -22px;
    }

    .sec4-3-prt1-arrow-wdth {
        width: 40px;
    }
}

@media screen and (max-width:504px) {

    .sec2-boxes {}

    .sec8-2-prt1-hd {
        font-size: 20px;
    }

    .sec8-4-prt1-txt1-1 {
        font-size: 12px;
    }

    .sec8-2-prt2-txt1 {
        font-size: 12px;
    }

    .sec8-3-1-txt1 {
        font-size: 12px;
    }

    .sec8-2-prt3-txt1-2 {
        font-size: 12px;
    }

    .sec8-1-prt2-txt1 {
        font-size: 12px;
    }

    .sec10 {
        font-size: 20px;
        line-height: normal;
        height: 169px;
    }

    .backhome1 {
        line-height: normal;

    }
}

@media screen and (max-width:454px) {
    .nav1-1-prt1-txt {
        font-size: 10px;
    }

    .nav1-1-prt2-txt {
        font-size: 10px;
    }

    .nav1-1 {
        gap: 20px;
    }

    .nav1-1-prt1 {
        gap: 3px;
    }

    .nav1-1-prt2 {
        gap: 3px;

    }


    .logo2 {
        width: 110px;
    }

    .nav1-1-prt1-icn1 {
        width: 14px;
        height: 14px;
    }

    .nav1-1-prt1-icn {
        width: 14px;
        height: 14px
    }

    .nav1-1-prt2-icn {
        width: 14px;
        height: 14px
    }
}

@media screen and (max-width:450px) {
    .sec5-1-prt2-1-prt2-txt {
        font-size: 12px;
        line-height: normal;
    }

    .sec5-1-prt2-1-prt2-uplodfile {
        font-size: 12px;
        padding: 3px 4px;
    }

    .sec5-1-prt2-1-prt2-txt3 {}

    /* Sec9 Css Starts Here */
    .Sec9 {
        padding: 25px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: unset;
        width: 100%;
    }

    .Sec9-1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 1%;
        margin-bottom: 16px;
        font-family: "Montserrat", sans-serif;
        color: #666C89;
    }

    .Sec9-2 {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .Sec9-2-prt1-1 {
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1%;
        color: #091242;
    }

    .Sec9-2-prt2-2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1%;
        color: #666C89;
    }

    /* Sec9 Css Ends Here */

}

@media screen and (max-width:436px) {
    .sec4-3 {
        width: 100%;
    }

    .sec4-3-prt1-icn {
        width: 30px;
        height: 30px;
    }

    .sec4-3-prt1-arrow1 {
        top: 2px;
        right: -14px;
    }

    .sec4-3-prt1-arrow2 {
        top: 2px;
        right: -14px;
    }

    .sec4-3-prt1-arrow4 {
        top: 2px;
        left: -14px;
    }

    .sec4-3-prt1-arrow-wdth {
        width: 30px;
    }
}

.sec4-3-prt1-txt {
    line-height: normal;
}

@media screen and (max-width:480px) {
    .sec5-1-prt2-1-prt1 {
        flex-direction: column;
    }
}

@media screen and (max-width:420px) {
    .sec5-1-prt2-1-prt2-txt3 {
        width: 100px;
    }
}

@media screen and (max-width:390px) {
    .sec5-1-prt2-1-prt2-1-msginput {
        padding: 12px;
    }

    .sec8-2-prt2 {
        width: 117px;
    }

    .sec8-4-4 {
        width: 117px;

    }

    .Sec7-1 {
        font-size: 20px;
    }

    .sec1-4 {
        width: 100%;
        justify-content: center;
    }

    .sec2-2 {
        padding: 38px 12px 12px 12px;
    }

    .sec2-2-prt-img {
        width: 93px;
        height: 61px;
        top: -33px;
    }

    .sec2-2-prt2 {
        font-size: 14px;
        line-height: normal;

    }

    .sec2-2-prt3 {
        font-size: 10px;
        line-height: normal;

    }

    .sec2-1-prt2 {
        font-size: 20px;
    }

    .sec2-1-prt1-txt {
        font-size: 10px;
    }

    .sec2-boxes {
        gap: 10px;
    }

    .sec2-boxes2 {
        gap: 10px;
    }

    .sec3-1-prt1-txt1 {
        font-size: 10px;
    }

    .sec3-1-prt1-txt2 {
        font-size: 20px;
    }

    .sec3-1-prt1-txt3 {
        font-size: 14px;
    }

    .sec3-1-prt1-1 {
        margin-bottom: 4px;
    }

    .sec3-1-prt1-txt2 {
        margin-bottom: 12px;
    }

    .sec3-1 {
        gap: 24px;
    }

    .sec4-1-prt1-txt {
        font-size: 10px;
    }

    .sec4-1-prt2 {
        font-size: 20px;
    }

    .sec4-1-prt1 {
        margin-bottom: 4px;
    }

    .sec4-1-prt2 {
        margin-bottom: 4px;

    }

    .sec5-1-prt1-1-txt2 {
        line-height: 20px;
    }

    .sec5-1-prt2-hedng {
        font-size: 20px;

    }

    .sec6-1-txt {
        font-size: 10px;
    }

    .sec6-1 {
        margin-bottom: 4px;
    }

    .sec6-2 {
        font-size: 20px;

    }

    .accordion-button {
        font-size: 14px !important;
    }

    .accordion-body {
        font-size: 12px;
    }

    .Sec7-1 {
        font-size: 20px !important;
    }

    .sec8-3 {
        gap: 10px;
    }

    .sec8-4-3 {
        width: fit-content !important;
    }

    .Sec7 {
        gap: 12px;
    }

    .Sec7 {
        margin-bottom: 20px;
    }

    .nav1-2-icn2 {
        width: 16px;
        height: 16px;
    }
}

/* @media screen and (max-width:390px) {
    .nav1 {
        padding: 16px 20px;
        flex-direction: column;
        height: fit-content;
        gap: 24px;
    }
    .sec8-1{
        flex-direction: column;
        height: fit-content;
        gap: 24px;
    }
    .sec8-1-prt2-txt1{
        font-size: 14px;
    }
    .nav1-1-prt1-txt{
        font-size: 11px;
    }
    .nav1-1-prt2-txt{
        font-size: 11px;
    }
    .nav1-2-icn2{
        width: 18px !important;
        height: 18px !important; 
    }
    .Sec7-1{
        font-size: 20px;
    }
    .nav2{
        flex-direction: column;
        padding: 16px 16px 8px 16px;
        height: fit-content;
        gap: 24px;
    }
    .logo2{
        width: 120px !important;
    }
    .sec8-4{
       margin: 24px 0px;
       padding: 16px 0px;
       gap:30px;
    }
    .sec8-4-1{
        flex-direction: column;
        align-items: center;
        gap:30px;

    }
    .sec8-2-prt1-txt1{
        flex-direction: row;
        justify-content: center;
    }
    .sec8-2-prt1-txt2{
        flex-direction: row;
       justify-content: center;

    }
    .sec8-2-prt2{
       width: 214px;
    }
    .sec8-2-prt1-hd{
        text-align: center;

    }
    .sec8-4-2{
        flex-direction: column;
        align-items: center;
        gap:30px;

    }
    .sec8-4-4{
        align-items: center;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .sec8-3-1-txt1{
        font-size: 14px;
    }
    .sec8-2-prt2-txt1{
        text-align: center;
    }
    .nav1-1{
        gap: 14px;
    }
    .nav1-1-prt1{
        gap: 3px;
    }
    .nav1-1-prt2{
        gap: 2px;

    }
    .nav1-2-icn2{
        width: 16px;
        height: 16px;
    }
    .logo2{
        width: 90px;
    }
    .nav1-2{
        gap: 14px;

    }
}
@media screen and (max-width:370px) {
    
   .nav1-1-prt1-icn1{
    width: 14px;
    height: 14px;
   }
   .nav1-1-prt1-icn{
    width: 14px;
    height: 14px;
   }
    .nav1-1-prt2-icn{
    width: 14px;
    height: 14px;
   }
} */
@media screen and (max-width:358px) {
    .nav1-1 {
        gap: 10px;
    }

    .nav1-2 {
        gap: 10px;

    }

    .sec8-4-2 {
        flex-direction: column;
        gap: 20px;
    }

    .sec8-4-4 {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .sec8-4 {
        padding: 16px 0px;
    }

    .sec8-2-prt1-hd {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .sec8-2-prt1-txt1 {
        margin-bottom: 8px;
        gap: 2px;
    }

    .sec8-2-prt1-txt2 {
        gap: 2px;

    }

    .sec8-2-prt3-txt1 {
        margin-bottom: 8px;
    }

    .logo2 {
        width: 92px;
        height: 32px;
    }

}

@media screen and (max-width:1000px) {
    .nav1-2-icn1:hover {
        opacity: unset;
        cursor: pointer;
    }

    #nav2-btn1:hover {
        font-size: 14px;
        /* border-top: 0px solid #FFB612 !important;
        border-bottom: 0px solid #FFB612 !important;
    color: rgb(102, 108, 137) !important; */

    }

    #nav2-2-prt2-1:hover {
        /* color: rgb(102, 108, 137) !important;

        border-top: 0px solid #FFB612 !important;
        border-bottom: 0px solid #FFB612 !important; */
        font-size: 14px;
    }

    #nav2-btn3:hover {
        /* color: rgb(102, 108, 137) !important;
        border-top: 0px solid #FFB612 !important;
        border-bottom: 0px solid #FFB612 !important; */

        font-size: 14px;
    }



    .sec1-3:hover {
        background-color: #FFB612;
        color: #091242;

    }

    .sec2-2:hover {
        background-color: #06243803;
    }

    .sec2-2:hover .sec2-2-prt3 {
        color: #666C89;
    }

    .sec4-3-prt1-icn:hover {
        background-color: #F8F8F9;
    }

    .sec4-3-prt1-icn:hover .sec4-3-prt1-icn1 {
        stroke: #FFB612;
    }

    .sec5-1-prt2-1-input1-1:hover::placeholder {
        color: rgba(102, 108, 137, 1);
    }

    .Sec7-2:hover {
        color: #091242;
        background-color: #FFB612;
        border: 2px solid #FFB612;
    }

    .nav1-2-icn1:hover {
        opacity: 100%;
    }

    .sec4-3-prt1-icn2 {
        display: inline-block;
    }

    .sec4-3-prt1-icn:hover .sec4-3-prt1-icn2 {
        display: inline-block;
    }

    .sec4-3-prt1-icn:hover .sec4-3-prt1-icn3 {
        display: none;
    }
}

.form-select option {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    width: 100%;
    height: 60px;
    padding: 12px 18px;
    border: 1px solid #D6D6DC;
    background-color: #F8F8F9;
    border-radius: 8px;
    color: #666C89;
    position: relative;
}

.twocolumnphir1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

@media (max-width: 1000px) {
    .twocolumnphir1 {
        grid-template-columns: repeat(1, 1fr);
    }

    /* .nav1 {
        display: none;
    } */
}


.faq-section {
    padding: 80px;

    .faq-header {

    }
}
